name: Pull Request Automation
 
on:
  pull_request:
    branches:
      - main
      - dev
 
jobs:
  process_pull_request:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v2
        with:
          ref: main
      - name: Fetch main branch
        run: git fetch origin main
 
      - name: Check if from QA to Main
        if: ${{ github.event.pull_request.base.ref == 'main' && github.event.pull_request.head.ref == 'qa' }}
        run: |
          git config --local user.email "action@github.com"
          git config --local user.name "GitHub Action"
          git tag "${{ github.event.pull_request.title }}"
          git push -f origin HEAD"

      - name: Check if from Dev to Main
        if: ${{ github.event.pull_request.base.ref == 'main' && github.event.pull_request.head.ref == 'dev' }}
        run: |
          echo "No action required for PR from Dev to Main"
